mixin popularSlider(name, data)
        div(class=name + '-slider').slider__cards.carousel
            each dataItem in data
                div(class=name + '-slider__item').slider__item
                    img.slider__img(class=name +'-slider__img')(src='/img/' + dataItem.pathImg + '.png')
                    h3(class=name + '-slider__title').slider__title=dataItem.nameAttractions
                    p(class=name + '-slider__descr').slider__descr=dataItem.nameCountry

mixin offerSlider(name, data)
    div(class=name + '-slider').slider__cards.carousel
        each dataItem in data
            div(class=name + '-slider__item').slider__item
                img.slider__img(class=name + '-slider__img')(src='/img/' + dataItem.pathImg + '.png')
                div(class=name + '-slider__container').slider__container
                    h3(class=name + '-slider__title').slider__title=dataItem.nameCountry
                    div(class=name + '-slider__rating').slider__rating
                        - for (let i = 0; i < 5; i++)
                            span.star
                                include ../../img/svg/star.svg
                    p(class=name + '-slider__descr').slider__descr=dataItem.nameDescription
                    div(class=name + '-slider__inf').slider__inf
                        p(class=name + '-slider__price').slider__price=dataItem.namePrice
                        button(class=name + '-slider__details').slider__details details